#myButton {
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  #myButton:hover {
    background-color: green;
  }
  